html {
  font-size: 10px;
}
#header-title {
  padding: 0 1.25em 0 0.75em;
}
.font-1 {
  font-family: "Berkshire Swash", cursive;
}
.font-2 {
  font-family: "Indie Flower", cursive;
}
nav .brand-logo.left {
  left: 0px;
}
