@page {
	size: auto;
}
$screen-md-min: auto;
$theme-colors: (
	'info': orange,
);
@import '~bootswatch/dist/cyborg/variables';
@import '~bootstrap/scss/bootstrap';
@import './layout';
@import './typography';
.icon {
	width: 1.2rem;
	border-radius: 50%;
	margin-top: -3px;
}
.btn {
	cursor: pointer;
}
