@include media-breakpoint-up(sm) {
	#layout {
		max-width: 576px;
	}
}
#layout {
	position: relative;
	border: 1px solid black;
	nav {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
	}
}
html,
body,
.full-height {
	position: fixed;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.centered {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: auto auto;
	align-items: center;
}

// https://developers.google.com/web/updates/2016/12/url-bar-resizing
// https://developers.google.com/web/fundamentals/native-hardware/fullscreen
