#layout {
	position: relative;
	border: 1px solid black;
	nav {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
	}
}
html,
body,
.full-height {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	margin: 0px;
	padding: 0px;
}
.full-height:fullscreen,
.full-height:-ms-fullscreen,
.full-height:-moz-full-screen,
.full-height:-webkit-full-screen {
	height: 100% !important;
}
.full-screen-ui {
	width: 10px;
}
.centered {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: auto auto;
	align-items: center;
}

// https://developers.google.com/web/updates/2016/12/url-bar-resizing
// https://developers.google.com/web/fundamentals/native-hardware/fullscreen
.request-fullscreen {
	display: block;
}
.request-fullscreen:fullscreen,
.request-fullscreen:-ms-fullscreen,
.request-fullscreen:-moz-full-screen,
.request-fullscreen:-webkit-full-screen {
	display: none;
}

.exit-fullscreen {
	display: block;
}
.exit-fullscreen:fullscreen,
.exit-fullscreen:-ms-fullscreen,
.exit-fullscreen:-moz-full-screen,
.exit-fullscreen:-webkit-full-screen {
	display: none;
}
